{% load static %}
{% block question_item %}

<div class="question-container">
  <div class="meta-info-row">
    <p class="question-date">{{ question.creation_date }}</p>
    <p class="question-author" style="font-weight: 700;">{{ question.author }}</p>
  </div>

  <div class="question-content-container">
    <div class="avatar-block">
      <img src="{% static 'img/useravatar.png' %}" class="question-avatar" alt="Avatar"
        style="width: 100px; height: 100px">
    </div>

    <div class="content-column">
      <div class="question-title-container">
        <p class="question-title">
        <h3><a href="{{ question.get_url }}" style="color: black;">{{ question.title }}</a> </h3>
        </p>
      </div>

      <div class="description-block">
        <p class="question-description">{{ question.description }}</p>
      </div>
    </div>
  </div>

  <div class="bottom-row question-like-section">
    <button class="rate-button" data-id="like" data-id="{{ question.id }}">
      <img src="{% static 'img/up.png' %}" height="20px" width="20px">
    </button>

    {% if question.rating < 0 %} <p class="rating-value" data-id="{{ question.id }}" style="color: red;" id="rating">{{ question.rating }}</p>
      {% elif question.rating == 0 %}
      <p class="rating-value" data-id="{{ question.id }}" style="color: grey;" id="rating">{{ question.rating }}</p>
      {% elif question.rating > 0 %}
      <p class="rating-value" data-id="{{ question.id }}" style="color: green;" id="rating">{{ question.rating }}</p>
      {% endif %}

      <button class="rate-button" data-id="dislike">
        <img src="{% static 'img/down.png' %}" height="20px" width="20px">
      </button>

      <div class="tags-container">
        <p>Tags:<span></span></p>
        {% for tag in question.tags.all %}
        <p class="tag"><a href="{% url 'tag' tag %}"><b>{{ tag }}</b></a></p>
        {% endfor %}
      </div>
  </div>

  <div class="tags-container">
    <p>Tags:<span></span></p>
    {% for tag in question.tags.all %}
    <p class="tag"><a href="{% url 'tag' tag %}" style="color: #444444;"><b>{{ tag }}</b></a></p>
    {% endfor %}
  </div>
</div>

{% endblock %}