<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset-"UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../static/css/vanilla.css">
</head>
  

<body>
    <header  class="header">
            <div class="logo">
                <a href ="#">
                    Askme
                </a>
            </div>
            <div class="search-form">
                <form action="#">
                    <input class="search-form-input" type="text">
                    <button class="search-form-button">Ask</button>
                </form>
            </div>
            <div class="account">
                <div class="account-image">
                    <img src="./image.jpg" alt="Image">
                </div>
                <div class="account-contetn">
                    <div class="account-name">Dr.Pepper</div>
                    <div class="account-actions">
                        <a href="./setting.html">Settings</a>
                        <a href="./logout.html">Log out</a>
                </div> 
            </div>
        </header>
</body>
    <main class="container"> 
        <div class="title-bar">
            <h1>New questions</h1>
            <a href="./hot-questions.html">Hot questions</a>
        </div>
        <div class="content">
            <div class="cards">
                <article class="card">
                    <div class="card-left">
                        <img src="./image.jpg" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="5"></input>
                    </div>


                    <div class="card-right">
                        <div>
                            <h4 class="card-title"><a href="#">Title</a></h4>    
                            <div class="card-text">Text here</div>
                        </div>

                        <div class="card-right-bottom">
                            <a href="./answer.html">Answer (3)</a>
                            <div class="card-tags">
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="card">
                    <div class="card-left">
                        <img src="./image.jpg" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="5"></input>
                    </div>


                    <div class="card-right">
                        <div>
                            <h4 class="card-title"><a href="#">Title</a></h4>    
                            <div class="card-text">Text here</div>
                        </div>

                        <div class="card-right-bottom">
                            <a href="./answer.html">Answer (3)</a>
                            <div class="card-tags">
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="card">
                    <div class="card-left">
                        <img src="./image.jpg" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="5"></input>
                    </div>


                    <div class="card-right">
                        <div>
                            <h4 class="card-title"><a href="#">Title</a></h4>    
                            <div class="card-text">Text here</div>
                        </div>

                        <div class="card-right-bottom">
                            <a href="./answer.html">Answer (3)</a>
                            <div class="card-tags">
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                            </div>
                        </div>
                    </div>
                </article>
                <div class="pagination"> 
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>...</button>
                    <button>100</button>
                </div>
            </div>
            <aside class="sidebar">
                <section class="popular-tags">
                    <div class="tags">
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                    </div>
                </section>
                <section class="best-members">
                    <h3>Best Members</h3>
                    <ul>
                        <li>Member</li>
                        <li>Member</li>
                        <li>Member</li>
                        <li>Member</li>
                        <li>Member</li>
                        <li>Member</li>
                        <li>Member</li>
                    </ul>
                </section>
            </aside>
        </div>

    </main>

</html>